body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9e97e3;
}

.inicio {
    border: solid;
}

.texto {
    float: right;
}

.imagem {
    width: 300px;
    height: 300px;

}

.informacao {
    margin-top: 50px;
    border: solid;
}

.preco {
    margin-top: 50px;
    border: solid;
}

.subtotal {
    margin-top: 50px;
    border: solid;
}
.menu {
    background-color: #58518c;
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo a {
    padding: 0px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu .right {
    float: right;
}

.menu .logo {
    width: 40px; 
    height: auto; 
    margin-right: 10px; 
}

.menu a img:hover {

    transform: scale(1.2);
}
