/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #b1a5e9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
}

h1 {
    color: #3a356e;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: #3a356e;
    text-align: right; /* Alinha os rótulos à direita */
}

/* Estilos para o formulário em duas colunas */
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px; /* Aumenta a margem entre as linhas do formulário */
}

.input-column {
    flex: 1;
    padding: 0 10px;
}

.input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #9389ca;
    border-radius: 3px;
    text-align: right; /* Alinha o texto à direita */
}

/* Diminui o tamanho do campo de entrada de data */
input[type="date"] {
    width: 30%; /* Reduz a largura do campo de data */
}

/* Ajustes para os botões */
.input[type="submit"] {
    background-color: #58518c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.input[type="submit"]:hover {
    background-color: #766dab;

}

.input-column {
    margin-left: 10px;
}

.input {
    margin-bottom: 5px;
}

.input#endereco {

}