body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo-Adimo {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: auto; 
    height: auto; 
    display: block;
    margin: 0 auto;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
}
h2 {
    font-size: 35px;
}