
body{
    
    margin: 0;
    
    background-image: url('login.jpg');
      

}


   


.main-login{


        width: 100vw;
        height: 100vh;
    

      display:flex;
      justify-content: center;
       align-items: center;
   
   
   
 z-index: -2;
 position: fixed;
}

.left-login{
 width: 300vw;
 height: 20vh;
 display: flex;
 justify-content: center;
 align-items: center;
background-color: #58518C;
z-index: -1;
position: fixed;
}
.left-login > h1{
color: #B1A5E9;
margin-right: 600px;
font-size: 60px;

}

.card-login{
    margin-left: 70%;
    height: 40vh;
    width: 30vw;
 border-radius: 10px;
 border: none;
 padding: 15px;
 font-size: 12pt;
 outline: none;
 box-sizing: border-box;
background: #3A356E;
z-index: 1;

}
.card-login>h1{
 margin-left: 35%;
 text-transform: uppercase;
 font-weight: 800;
 letter-spacing: 6px;
 color: #B1A5E9;
}


.textfield>input{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
width: 83%;
border:none;
border-radius 10px;

padding: 12px;
background: #9389CA;




}
.textfield>label{
    margin-left: 210px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #B1A5E9;
}

.btn-login{
width: 85%;
padding: 16px;
margin: 25px;
border-radius: 8px;
border: none;
outline: none;
background-color: #B1A5E9;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 3px;
}