
.logout-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 12px 20px;
  background-color: #3a356e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; 
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #b1a5e9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modal p {
  color: #fff;
  margin-bottom: 20px;
}

.modal button {
  padding: 10px 20px;
  background-color: #3a356e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #3a356e;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
}

nav {
  background-color: #58518c;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a.active {
  border-bottom: 2px solid #fff;
}

main {
  padding: 20px;
}

.charts-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.chart {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
  max-width: 100%;
  height: auto;
}
.user-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details {
  margin-top: 10px;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #b1a5e9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}